<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Pwd:</b>
  <%=h @user.pwd %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Id card:</b>
  <%=h @user.id_card %>
</p>

<p>
  <b>Sex:</b>
  <%=h @user.sex %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>